@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open_sans_600.eot');
    src: url('fonts/open_sans_600.eot?#iefix') format('embedded-opentype'),
         url('fonts/open_sans_600.woff') format('woff'),
         url('fonts/open_sans_600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}